@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #97251b;
    --primary-color-dark: #7a1e16;
    --secondary-color: #8C1007;
    --text-dark: black;
    --text-light: #17140b;
    --extra-light: white;
    --max-width: 1200px;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* NAVIGATION */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99;
}

.nav_content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

/* NAV LINKS */
ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

/* FIXED HOVER */
ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

/* SECTION */
.section {
    background-color: var(--extra-light);
}

.section_container {
    min-height: auto;
    max-width: var(--max-width);
    margin: auto;
    padding: 120px 1rem 2rem ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
    color: var(--primary-color);
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

/* BUTTONS */
.action_btns {
    display: flex;
    gap: 1rem;
}

.action_btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.hire_me {
    background-color: var(--primary-color);
    color: white;
}

.hire_me:hover {
    background-color: var(--primary-color-dark);
}

.portfolio {
    color: var(--primary-color);
    background-color: transparent;
}

.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #fff;
}

/* IMAGE */
.image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.image img {
    width: min(25rem, 60%);
    border-radius: 20%;
}
.container1 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 30px;
    width: 80%;
    max-width: 900px; */
}

#forma {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 100px;
    color: var(#17140b);
}

.card {
    background: #f9efef;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
    width: 50%;
    margin: 2%;
}

.card:hover{
    transform: translateY(-5px);

}

.card h3 {
    margin: 0 0 10px;
    font-size: 22px;
    color: var(--primary-color);
}

.card p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.4;
}

/* RESPONSIVE */
@media (width < 750px) {

    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section_container {
        padding: 10rem 1rem 5rem;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .action_btns {
        margin: auto;
    }

    .image {
        justify-content: center;
        margin-top: 2rem;
    }
    .container1 {
        margin: auto;
        grid-template-columns: 1fr;
    }
}
.container2 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 30px;
    width: 80%;
    max-width: 900px; */
}

#forma {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 100px;
    color: var(#17140b);
}

#Exper{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 100px;
    color: var(#17140b);
}

.card {
    background: #f9efef;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
    width: 50%;
    margin: 2%;
}

.card:hover{
    transform: translateY(-5px);

}



.card p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.4;
}

/* RESPONSIVE */
@media (width < 750px) {

    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a {
        font-size: 1.25rem;
    }

    .section_container {
        padding: 10rem 1rem 5rem;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .action_btns {
        margin: auto;
    }

    .image {
        justify-content: center;
        margin-top: 2rem;
    }
    .container1 {
        margin: auto;
        grid-template-columns: 1fr;
    }
}